/* ======== Table of Contents ========
1. Global styles   
2. Layout
    2.1 Grid
    2.2 Flex
3. Typography
4. Utilities
5. Sections
6. Conponents
*/


/* ======== 1. Global Styles ======== */
*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    /* ======== Fonts ======== */
    /* Font families */
    --ff-h: 'Big Shoulders Display', cursive;
    --ff-p: 'Lexend Deca', sans-serif;
    /* Font sizes */
    --fs-h3: 2.5rem; /* 24 */
    --fs-p: 1rem; /* 16 */
    /* Font weights */
    --fw-700: 700;
    --fw-400: 400;
    /* ======== Colors ======== */
    /* Primary colors */
    --orange: hsl(31, 77%, 52%);
    --cyan-100: hsl(184, 100%, 22%);
    --cyan-200: hsl(179, 100%, 13%);
    /* Neutral colors */
    --white: hsla(0, 0%, 100%);
    --white-75: hsla(0, 0%, 100%, 0.75);
    --gray: hsl(0, 0%, 75%);
    /* ========  */
}

body{
    font-family: var(--ff-p);
}

/* ======== 2. Layout ======== */
#container{
    margin: 0 auto;
    margin: 10rem 10rem 2rem 10rem;
    
}

#cards{
    border-radius: 25px;
    padding: 3rem;
}

@media (min-width: 768px) {
    #cards {
        display: flex;
        max-width: 60rem;
        margin: 0 auto;
    }

}

/* ======== 3. Typography ======== */
h3{
    font-family: var(--ff-h);
    font-size: var(--fs-h3);
    font-weight: var(--fw-700);
    color: var(--white);
    margin: 2rem 0;
}

p{
    font-family: var(--ff-p);
    font-size: var(--fs-p);
    font-weight: var(--fw-400);
    color: var(--white-75);
    line-height: 1.5;
    margin-bottom: 5.5rem;
}

/* ======== 4. Utilities ======== */

a{
    text-decoration: none;
}

/* ======== 5. Sections ======== */

#cards{
    content: fill;
    border-radius: 25px;
    padding: 0;
}

#sedan-card{
    background-color: var(--orange);
    border-radius: 12px 12px 0 0px;
}

@media (min-width: 768px) {
    #sedan-card{
        border-radius: 12px 0 0 12px;
    }
}

#suv-card{
    background-color: var(--cyan-100);
}

#luxury-card{
    background-color: var(--cyan-200);
    border-radius: 0 0 12px 12px;
}

@media (min-width: 768px) {
    #luxury-card{
        border-radius: 0 12px 12px 0;
    }
}

/* ======== 6. Conponents ======== */

.card{
    padding: 3rem;
}

.pill-btn{
    background-color: var(--white);
    padding: 0.75rem;
    border-radius: 32px;
}

#sedan-btn{
    color: var(--orange);
    border: none;
}

#sedan-btn:hover{
    color: var(--white);
    background-color: var(--orange);
    border: var(--white) 2px solid;
}

#suv-btn{
    color: var(--cyan-100);
    border: none;
}

#suv-btn:hover{
    color: var(--white);
    background-color: var(--cyan-100);
    border: var(--white) 2px solid;
}


#luxury-btn{
    color: var(--cyan-200);
    border: none;
}

#luxury-btn:hover{
    color: var(--white);
    background-color: var(--cyan-200);
    border: var(--white) 2px solid;
}

.attribution{
    padding-top: 1rem;
    text-align: center;
    margin: 0 auto;
}